# Evaluation

In [52]:
import pandas as pd
import io
import requests
import sklearn.metrics

## Exercise 1
Given the following confusion matrix, evaluate (by hand) the model's performance.


|               | actual cat | actual dog |
|:------------  |-----------:|-----------:|
| predicted cat |         34 |          7 |
| predicted dog |         13 |         46 |



1. In the context of this problem, what is a false positive?
    - Assume cat is positive
    - FP: Prediction is a cat, actually is a dog
- In the context of this problem, what is a false negative?
    - FN: Prediction is a dog, Actually is cat
- How would you describe this model?
    - Precision TP/(TP+FP): 34 / (34 + 7)=0.83
    - Base_line Precision: (34 + 13)/( 34 + 7 +13 +46) = 0.47
    - Recall: TP/(TP+ FN): 34/ (34 + 13) = 0.72
    - Base_line Recall: (34 + 13)/( 34 +13) = 1
    - Precision looks pretty good on this model

## Exercise 2
You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions [can be found here](https://ds.codeup.com/data/c3.csv).

Use the predictions dataset and pandas to help answer the following questions:

In [11]:
url = "https://ds.codeup.com/data/c3.csv"
s = requests.get(url).content
df = pd.read_csv(io.StringIO(s.decode('utf-8')))
df.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

1. An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?
    - Positive = "Defect"
    - Recall is a bette matrics, because it tells how the model's performance to pick defected from actual defected
    - **We have not learned model yet**

2. Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?
    - The model should have small False Positive numbers. So it make sense to use **Precision metric**, where TP /(TP + FP). We want a high precision model performance.
    - **Model???**

## Exercise 3
You are working as a data scientist for Gives You Paws â„¢, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

Several models have already been developed with the data, and you [can find their results here](https://ds.codeup.com/data/gives_you_paws.csv).

Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

In [13]:
url = "https://ds.codeup.com/data/gives_you_paws.csv"
s = requests.get(url).content
df = pd.read_csv(io.StringIO(s.decode('utf-8')))
df.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

In [39]:
df.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

1. In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?

In [41]:
# positive = 'dog'
df['baseline'] = 'dog'
df.head()

  actual model1 model2 model3 model4 baseline
0    cat    cat    dog    cat    dog      dog
1    dog    dog    cat    cat    dog      dog
2    dog    cat    cat    cat    dog      dog
3    dog    dog    dog    cat    dog      dog
4    cat    cat    cat    dog    dog      dog

In [43]:
# accuracy prediction == actuall
pd.DataFrame({'Accuracy':
    [(df.actual == df.model1).mean(),
    (df.actual == df.model2).mean(),
    (df.actual == df.model3).mean(),
    (df.actual == df.baseline).mean()]
}, index = ['model1','model2','model3','baseline'])

# model1 are dong better than baseline.

          Accuracy
model1      0.8074
model2      0.6304
model3      0.5096
baseline    0.6508

In [55]:
#Use sklearn
sklearn.metrics.accuracy_score(df.actual, df.model1)
pd.DataFrame({'Accuracy':
    [sklearn.metrics.accuracy_score(df.actual, df.model1),
     sklearn.metrics.accuracy_score(df.actual, df.model2),
     sklearn.metrics.accuracy_score(df.actual, df.model3),
     sklearn.metrics.accuracy_score(df.actual, df.baseline)]
}, index = ['model1','model2','model3','baseline'])

          Accuracy
model1      0.8074
model2      0.6304
model3      0.5096
baseline    0.6508

2. Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recomend for Phase I? For Phase II?

In [48]:
#dog is positive 
#Phase 1 Select as many as actual dogs as possible
pd.DataFrame({'recall':
[(df[df.actual == 'dog'].model1 == 'dog').mean(),
(df[df.actual == 'dog'].model2 == 'dog').mean(),
(df[df.actual == 'dog'].model3 == 'dog').mean()]
}, index = ['model1','model2','model3'])

# Model1 is doing better.

          recall
model1  0.803319
model2  0.490781
model3  0.508605

In [57]:
sklearn.metrics.recall_score(df.actual,df.model1, pos_label='dog')
pd.DataFrame({'recall':
[sklearn.metrics.recall_score(df.actual,df.model1, pos_label='dog'),
sklearn.metrics.recall_score(df.actual,df.model2, pos_label='dog'),
sklearn.metrics.recall_score(df.actual,df.model3, pos_label='dog')]
}, index = ['model1','model2','model3'])

          recall
model1  0.803319
model2  0.490781
model3  0.508605

In [49]:
#phase 2 : select as many correct selections
pd.DataFrame({'precesion':
[(df[df.model1 == 'dog'].actual == 'dog').mean(),
(df[df.model2 == 'dog'].actual == 'dog').mean(),
(df[df.model3 == 'dog'].actual == 'dog').mean()]
}, index = ['model1','model2','model3'])

# Model 2 is doing better.

        precesion
model1   0.890024
model2   0.893177
model3   0.659888

In [60]:
sklearn.metrics.precision_score(df.actual,df.model1, pos_label='dog')
pd.DataFrame({'precesion':
[sklearn.metrics.precision_score(df.actual,df.model1, pos_label='dog'),
sklearn.metrics.precision_score(df.actual,df.model2, pos_label='dog'),
sklearn.metrics.precision_score(df.actual,df.model3, pos_label='dog')]
}, index = ['model1','model2','model3'])

        precesion
model1   0.890024
model2   0.893177
model3   0.659888

In [65]:
print(sklearn.metrics.classification_report(df.actual, df.model2, target_names=['dog','cat']))

              precision    recall  f1-score   support

         dog       0.48      0.89      0.63      1746
         cat       0.89      0.49      0.63      3254

    accuracy                           0.63      5000
   macro avg       0.69      0.69      0.63      5000
weighted avg       0.75      0.63      0.63      5000

3. Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recomend for Phase I? For Phase II?

In [50]:
#cat is positive 
#Phase 1 Select as many as actual cat as possible
pd.DataFrame({'recall':
[(df[df.actual == 'cat'].model1 == 'cat').mean(),
(df[df.actual == 'cat'].model2 == 'cat').mean(),
(df[df.actual == 'cat'].model3 == 'cat').mean()]
}, index = ['model1','model2','model3'])

# Model2 is doing better in phase 1.

          recall
model1  0.815006
model2  0.890607
model3  0.511455

In [51]:
#phase 2 : select as many as correct selections
pd.DataFrame({'precesion':
[(df[df.model1 == 'cat'].actual == 'cat').mean(),
(df[df.model2 == 'cat'].actual == 'cat').mean(),
(df[df.model3 == 'cat'].actual == 'cat').mean()]
}, index = ['model1','model2','model3'])

# Model1 is doing better.

        precesion
model1   0.689772
model2   0.484122
model3   0.358347

Follow the links below to read the documentation about each function, then apply those functions to the data from the previous problem.

- sklearn.metrics.accuracy_score
- sklearn.metrics.precision_score
- sklearn.metrics.recall_score
- sklearn.metrics.classification_report