## Zillow
For the following, iterate through the steps you would take to create functions: Write the code to do the following in a jupyter notebook, test it, convert to functions, then create the file to house those functions.

You will have a zillow.ipynb file and a helper file for each section in the pipeline.

In [1]:
import pandas as pd
import numpy as np
from env import url

### acquire & summarize
1. Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database.

    - Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid.
    - Only include properties with a transaction in 2017, and include only the last transaction for each properity (so no duplicate property ID's), along with zestimate error and date of transaction.
    - Only include properties that include a latitude and longitude value.

In [2]:
#Acquire data from mySQL using the python module to connect and query
query = '''
Select *
From properties_2017
Join(
	Select parcelid,logerror, Max(transactiondate) as transactiondate
	From predictions_2017
	Group by parcelid, logerror
	) as pd
Using(parcelid)
'''
properties = pd.read_sql(query, url('zillow'))

In [3]:
properties = properties.drop(columns = 'id')

In [5]:
properties

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,logerror,transactiondate
0,10711855,NaN,NaN,NaN,2.0,3.0,NaN,8.0,2.0,NaN,...,249655.0,624139.0,2016.0,374484.0,7659.36,None,NaN,6.037113e+13,-0.007357,2017-07-07
1,10711877,1.0,NaN,NaN,2.0,4.0,NaN,8.0,2.0,NaN,...,253000.0,660000.0,2016.0,407000.0,8123.91,None,NaN,6.037113e+13,0.021066,2017-08-29
2,10711888,1.0,NaN,NaN,2.0,4.0,NaN,8.0,2.0,NaN,...,257591.0,542923.0,2016.0,285332.0,6673.24,None,NaN,6.037113e+13,0.077174,2017-04-04
3,10711910,NaN,NaN,NaN,2.0,3.0,NaN,8.0,2.0,NaN,...,57968.0,78031.0,2016.0,20063.0,1116.46,None,NaN,6.037113e+13,-0.041238,2017-03-17
4,10711923,NaN,NaN,NaN,2.0,4.0,NaN,8.0,2.0,NaN,...,167869.0,415459.0,2016.0,247590.0,5239.85,None,NaN,6.037113e+13,-0.009496,2017-03-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77604,167686999,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,26405.0,2016.0,26405.0,988.48,None,NaN,NaN,-0.068632,2017-02-28
77605,167687739,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,5451600.0,6440197.0,2016.0,988597.0,77045.13,None,NaN,NaN,0.360020,2017-03-03
77606,167687839,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,1842678.0,2016.0,1842678.0,22045.81,None,NaN,NaN,0.038797,2017-05-31
77607,167688532,1.0,NaN,NaN,3.0,3.0,NaN,4.0,3.0,NaN,...,NaN,147921.0,2016.0,147921.0,1902.75,None,NaN,NaN,0.006706,2017-02-03
77608,167689317,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,318400.0,437387.0,2016.0,118987.0,5947.25,None,NaN,NaN,-0.008789,2017-03-14